@font-face{
    font-family: sf-pro;
    src: url("fonts/SF-Pro-Text-Regular.otf");
    font-weight: 400;
}
@font-face{
    font-family: sf-pro;
    src: url("fonts/SF-Pro-Text-Light.otf");
    font-weight: 300;
}
@font-face{
    font-family: sf-pro;
    src: url("fonts/SF-Pro-Text-Semibold.otf");
    font-weight: 500;
}
.navbar{
    font-family: sf-pro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vw;
    background-color: white;
    opacity: 0.9;
    position: fixed;
    z-index: 999;
}
.website-name{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1vw;
    font-size: 2vw;
    transition: transform 0.1s linear;
    font-weight: 600;
}
.website-name:hover{
    cursor: pointer;
    transform: translateY(-0.25vw);
}
.links li{
    list-style: none;
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw;
    font-weight: bold;
    font-size: 1.25vw;
    transition: transform 0.1s linear;
    font-weight:500;
}
.links li:hover{
    cursor: pointer;
    transform: translateY(-0.25vw);
}

.links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.809);
}




